<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name = "consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
	
		<Pattern>%-5level %msg %d{HH:mm:ss.SSS} %logger{36} %n</Pattern>
	</encoder>
	</appender>
	
	<logger name="com.onlineshopping" level="DEBUG" additivity = "false"> 
	 <!-- to avoid getting the method twice additivity = ""false -->
		<appender-ref ref="consoleAppender"/>
	</logger>
	
	<root level="INFO">
		<appender-ref ref="consoleAppender"/>
	</root>

<!-- explanation -->
<!--%-5level = means level of the logging event should be left justified to a width of 5 characters  -->
<!--%msg = outputs the application-supplied message associated with the logging event  -->
<!--%d{HH:mm:ss.SSS} =used to output  the date of the logging event -->
<!--%logger{36} = outputs the name of the logger at the origin of the logging event. It takes an Integer -->
<!--%n = outputs the platform independent line separator character or characters -->
</configuration>

